[submodule "mcp_api"]
	path = mcp_api
	url = git@github.com:MakeICT/mcp_api.git
[submodule "wildapricot_api"]
	path = wildapricot_api
	url = git@github.com:MakeICT/wildapricot_api.git
[submodule "pydiscourse"]
	path = pydiscourse
	url = git@github.com:MakeICT/pydiscourse.git
