
[Unit]
Description=WildApricot Registration Monitor

[Service]
ExecStart=/usr/bin/python3 /storage/Projects/MakeICT/Registration-Monitor/RegiMon.py
WorkingDirectory=/storage/Projects/MakeICT/Registration-Monitor
Restart=always
[Install]
WantedBy=multi-user.target

