
[Unit]
Description=WildApricot Registration Monitor

[Service]
ExecStart=/usr/bin/python3 /home/christian/Registration-Monitor/RegiMon.py
WorkingDirectory=/home/christian/Registration-Monitor
Restart=always
[Install]
WantedBy=multi-user.target

